/* Global */
*,
*::before,
*::after{
    margin: 0;
    padding: 0;
}

html{
    font-size: 10px;
    font-family: 'SF Pro Display', sans-serif;
}

a{
    display: block;
    text-decoration: none;
}

.container{
    max-width: 98rem;
    margin: 0 auto;
    padding: 0 2.2rem;
}

/* Header */
header{
    position: fixed;
    top: 0;
    z-index: 1400;
    height: 4.4rem;
    width: 100%;
    background-color: rgba(0, 0, 0, .8);
    backdrop-filter: blur(2rem);
}

.nav-list{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 -1rem;
}

.nav-list-mobile{
    display: none;
}

.nav-link{
    font-size: 1.4rem;
    color: #fff;
    padding: 0 1rem;
    transition: opacity .5s;
}

.nav-link-hover{
    opacity: .7;
}

.nav-link-pear{
    width: 1.6rem;
    height: 4.4rem;
    background: url("images/icons/pear.png") center no-repeat;
}

.nav-link-search{
    width: 1.6rem;
    height: 4.4rem;
    background: url("images/icons/search.svg") center no-repeat;
}

.nav-link-bag{
    width: 1.4rem;
    height: 4.4rem;
    background: url("images/icons/bag.svg") center no-repeat;
}

.pear-os{
    background: url("images/hero/pearos/pearos_large.png") ;
    margin-top: 4.4rem;
    border-top: none;
}

/* PearOS section */
.pear-os{
    border-top: .6rem solid #000;
}

.title{
    color: #fff;
    text-align: center;
    padding-top: 5.5rem;
}

.title-heading{
    font-size: 5.6rem;
    line-height: 1.07143;
    letter-spacing: -.005rem;
}

.title-sub-heading{
    font-size: 2.65rem;
    margin-top: .6rem;
    letter-spacing: .008rem;
    font-weight: 400;
}

.title-price{
    font-size: 1.7rem;
    color: #888;
    margin-top: .68rem;
}

.cta{
    text-align: center;
    margin-top: 1.8rem;
}

.cta-link{
    color: #66bbff;
    font-size: 2.1rem;
    display: inline-block;
}

.cta-link:nth-child(2){
    margin-left: 2.6rem;
}

.cta-link:hover{
    border-bottom: 2px solid #66bbff;
}

/* PearPhone section */
.pear-phone{
    background: url("images/hero/pear-phone/iphone_11_large.jpg");
    border-top: .6rem solid #fafafa;
}

.title-dark{
    color: #000;
}

.cta-link-darker{
    color: #0070c9;
}

.cta-link-darker:hover{
    border-bottom-color: #0070c9;
}

/* Pear Cloud */
.pear-cloud{
    background: url("images/hero/cloud/cloud_large.png");
    border-top: .6rem solid #fafafa;
}



/* Pearintosh page */
/* First section */
.pear-os-1{
    background: url("images/hero/pear-os-1/pearos_large.png") ;
    margin-top: 4.4rem;
    border-top: none;
}
.pear-os-1{
    border-top: .6rem solid #000;
}
/* Second section */
.pear-os-2{
    background: url("images/hero/pear-os-2/iphone_11_large.jpg");
    border-top: .6rem solid #fafafa;
}

.title-heading-left{
    text-align: left;
}

.title-sub-heading-left{
    text-align: left;
}

.cta-left{
    text-align: left;
}

/* Moved to the bottom of all section styles to keep consistent styles */
.hero{
    height: 69.2rem; /* nice */
    background-size: auto 73.6rem;
    background-position: center;
    background-repeat: no-repeat;
    border-bottom: .6rem solid #fafafa;
}